<a href="https://colab.research.google.com/github/salarMokhtariL/TA/blob/main/02_Fall_2022/Fundamentals%20of%20Computational%20Intelligence/Python%20Introduction/python_ci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming Language

### Lec : Dr. Mohammad Ali Balafar

### TA : Salar Mokhtari Laleh

## Class Information:
 
 Class at [Quera](https://quera.org/course/add_to_course/course/11843/) to send homeworks with **TBZ** password 

Homework and projects will be uploaded to [Github](https://github.com/salarMokhtariL/TA) repositories

Email sending assignments if the link to the **Quora website does not work**

	salarmokhtrai0@gmail.com

# Python 

Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

The Python interpreter and the extensive standard library are freely available in source or binary form for all major platforms from the Python web site, https://www.python.org/, and may be freely distributed. The same site also contains distributions of and pointers to many free third party Python modules, programs and tools, and additional documentation.

The Python interpreter is easily extended with new functions and data types implemented in C or C++ (or other languages callable from C). Python is also suitable as an extension language for customizable applications.

you write Python (.py) files in a text editor and then put those files into the python interpreter to be executed. Depending on the Editor you are using, this is either done automatically, or you need to do it manually.


## Interpreted vs. Compiled


Programming languages generally fall into one of two categories: Compiled or Interpreted. With a compiled language, code you enter is reduced to a set of machine-specific instructions before being saved as an executable file.
Both approaches have their advantages and disadvantages.

With interpreted languages, the code is saved in the same format that you entered. Compiled programs generally run faster than interpreted ones because interpreted programs must be reduced to machine instructions at run-time. It is usually easier to develop applications in an interpreted environment because you don’t have to recompile your application each time you want to test a small section.

Compiled languages are all translated by running the source code through a compiler. This results in very efficient code that can be executed any number of times. The overhead for the translation is incurred just once, when the source is compiled; thereafter, it need only be loaded and executed.

Interpreted languages, in contrast, must be parsed, interpreted, and executed each time the program is run.

## Python Packages for Science and Numerical Computations
Some important Python Packages for Science and Numerical Computations are: 

  *   NumPy

  *   SciPy
  *   Matplotlib
  *   Pandas

These packages need to be downloaded and installed separately, or you choose to use, e.g., a distribution package like Anaconda, where you typically get the packages you need for scientific computing

# Python Comments 


  *   Comments can be used to explain Python code.
  *   Comments can be used to make the code more readable.
  *   Comments can be used to prevent execution when testing code.

## Creating a Comment

Comments starts with a `#`, and Python will ignore them
    
    # This's a Comment
    print("hello world")

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

    print("Hello, World!") #This is a comment

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

    #print("Hello, World!")
    print("Cheers, Mate!")

## Multi Line Comments
Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a `#` for each line:

    #This is a comment
    #written in
    #more than just one line
    print("Hello, World!")

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

    """
    This is a comment
    written in
    more than just one line
    """
    print("Hello, World!")

As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.

# Python Variables

Variables are containers for storing data values.

### Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.

x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### Casting

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>

## Python Variable Names

A variable can have a short name (like x and y) or a more descriptive name 
(age, carname, total_volume). Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

## Python Variables - Assign Multiple Values
### Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Python - Output Variables
The Python `print()` function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
# In the `print()` function, you output multiple variables, separated by a comma:

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
# You can also use the `+` operator to output multiple variables:

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
# For numbers, the `+` character works as a mathematical operator:

x = 5
y = 10
print(x + y)

15

In [ ]:
# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

x = 5
y = "John"
print(x + y)

TypeError: ignored

In [ ]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

x = 5
y = "John"
print(x, y)

5 John

## Python - Global Variables
### Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

###The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the `global` keyword.

In [ ]:
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a `global` variable inside a function.

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

## Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:


|             |                   |
| :- | -: | 
| Text Type:	 | `Str` 
| Numeric: 	 | `int`, `float`, `complex` 
| Sequence Types:		 | `List`,`tuple`, `range` 
| Mapping Type:	 | `dict` 
| Set Type:	 | `Set`, `frozenset`
| Boolean  Type:	 | `bool` 
| Binary   Type:	 | `bytes`,`bytearray`,`memoryview`
| None  Type:	 | `NoneType` 

## Getting the Data Type
You can get the data type of any object by using the `type()` function:

In [ ]:
#Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

![image.png]()

# Python Number 

There are three numeric types in Python:

     1. int
     2. float
     3. complex
Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# To verify the type of any object in Python, use the type() function:

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Int 
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex
Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion
You can convert from one type to another with the `int()`, `float()`, and `complex()` methods:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

    Note: You cannot convert complex numbers into another number type.

## Random Number
Python does not have a `random()` function to make a random number, but Python has a built-in module called `random` that can be used to make random numbers:

In [ ]:
#Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

3

# Python Casting

## Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

|             |                   |
| :- | -: | 
| `int()` |  constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
| `float()` | constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
|`str()` | constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings
## Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

You can display a string literal with the `print()` function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [2]:
x = "Python"
print(x)

Python

## Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [3]:
# You can use three double quotes:

a = """The University of Tabriz is a public university located in Tabriz, East Azerbaijan
 with the fundamental aim of creating a center of excellence in higher education and research.
 It is one of the top five high-ranked universities in Iran and one of the ten most selective 
 niversities in the country"""
print(a)

The University of Tabriz is a public university located in Tabriz, East Azerbaijan
 with the fundamental aim of creating a center of excellence in higher education and research.
 It is one of the top five high-ranked universities in Iran and one of the ten most selective
 niversities in the country

In [4]:
# Or three single quotes:

a = '''he University of Tabriz is a public university located in Tabriz, East Azerbaijan
 with the fundamental aim of creating a center of excellence in higher education and research.
 It is one of the top five high-ranked universities in Iran and one of the ten most selective 
 niversities in the country'''
print(a)

he University of Tabriz is a public university located in Tabriz, East Azerbaijan
 with the fundamental aim of creating a center of excellence in higher education and research.
 It is one of the top five high-ranked universities in Iran and one of the ten most selective
 niversities in the country

## Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [5]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

## Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a `for` loop.

In [6]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

## String Length
To get the length of a string, use the `len()` function.

In [7]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

## Check String
To check if a certain phrase or character is present in a string, we can use the keyword `in`.

In [8]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an `if` statement:

In [9]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

## Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [10]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an `if` statement:

In [11]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

## Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [13]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

## Slice From the Start

By leaving out the start index, the range will start at the first character:

In [14]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

## Slice To the End
By leaving out the end index, the range will go to the end:

In [15]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [16]:
'''Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):'''

b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

##Upper Case & Lower Case

In [17]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [18]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

## Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [19]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Python - String Concatenation
##String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [20]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [21]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

## String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [22]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [23]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [24]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers `{0}` to be sure the arguments are placed in the correct placeholders:

In [25]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python - Escape Characters
## Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [26]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the escape character `\"`:

In [27]:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

![image.png]()